extends base.pug


block content
    if errorMessage 
        span=errorMessage 
    form(method="POST")
        input(placeholder="userName" name="userName", required)
        input(placeholder="password" name="password", required, type="password")
        input(type="submit", value="login")
        br
        a(href="/users/github/start") Continue with Github;
    hr
    div 
        span Don't have an account?
        a(href="/join") Create one now &rarr;