extends base.pug

block content 
    div.videoContainer(data-id=video.id)
        video(src="/" + video.fileUrl)
        div.videoControls 
            div.playContainer
                span.playBtn 
                    i.fas.fa-play 
                div.time
                    span.currentTime 00:00 
                    span /  
                    span.totalTime 00:00 
            input(type="range",step="1", value="0", min="0").timeline  
            div.volumeContainer 
                input(type="range", step="0.1", value=0.5, min="0", max="1").volumeRange
                span.mute 
                    i.fas.fa-volume-mute
            div.screenContainer  
                span.fullScreenBtn 
                    i.fas.fa-expand
block scripts 
    script(src="/static/js/videoPlayer.js") 
    