extends ../base
include ../mixins/video

block content 
<<<<<<< HEAD
    each potato in user.videos
        +video(potato)
    else   
        li Sorry Nothing found   
=======
        each potato in user.videos
            +video(potato)
        else   
            li Sorry Nothing found 
>>>>>>> b75b1d29ec2d898ca3d9d3d8e80989e68692cf81
